.header{
    color: rgb(6, 71, 33);
    display:contents ;
    text-align: center;
}

.links{
    float: right;
    padding: 1px;
    gap: 0px;
}

.display{
    display: flex;
    padding: 1px;
    gap: 10px;
    text-align: center;
    margin: 8px;
}

.contact{
    text-align: center;
}

.come{
    background-color: rgb(45, 82, 9);
    padding: 10px;
    border-radius: 10px;
}

.collect{
    background-color: rgb(102, 170, 34);
    padding: 10px;
    border-radius: 10px;
}

.dispose{
    background-color: rgb(93, 161, 25);
    padding: 10px;
    border-radius: 10px;
}

.re-cycle{
    background-color: chartreuse;
    padding: 10px;
    border-radius: 10px ;
}

.body{
    background-color: rgb(40, 105, 75);
}