.head {
    color: orangered;
    text-align: center;
    text-decoration: double;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: peru;
    border-radius: 4ch;
    border-style: solid;
    background-color: black;
    background-attachment: fixed;
}
body {
    background-color: rgb(27, 25, 25);
}
.para1 {
    text-align: center;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:darksalmon ;
    text-shadow: gray;
}
.img1 {
    text-align: center;
    border-image-width: 100px;
}
.para2 {
    border: 1px; list-style-position:inside ;
    text-align: center;
    color: white;
    background-color: black;
    background-attachment: fixed;
    padding-right: 50px;
}
.img2 {
    text-align: center;
    max-width: 100%;
    height: auto;
}
.cont {
    text-align: center;
}