.body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(/images/garback.jpeg);
    height: 800px;
    color: black;
    padding: 0px;
    height: 750px;
    width: 100%;
    background-position:center;
}

.links{
    display: flex;
    float: right;
    padding: 3px;
    gap: 15px;
    background-color: turquoise;
    border-radius: 10px;
}

.order{
    display: flex;
    width: 50px;
    height: 400px;
    gap:20px;
    padding: 4px;
}

.both{
    height: 69%;
  
}

.wastebag{
    height: 70%;
}


