.links{
    display: flex;
    float: right;
    padding: 3px;
    gap: 10px;
    background-color: violet;
    border-radius: 10px;
    font-size: 14px;
}

h3{
    text-align: center;
    color:white;
}

.header{
    text-align: left;
}

.body{
    background-image: url(/images/work7\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(247, 205, 22) ;
    padding: 1px;
}

.cont{
    text-align: center;
}